nav {
  &.primary-navigation {
    padding: 10px;
    position: absolute;
    top: 0;
    left: 10px;

    z-index: 15;

    font-size: 13px;

    ul {
      padding-inline-start: 0;
      margin-block-start: 0;
      margin-block-end: 0;

      li {
        border-left: 2px solid var(--secondary-color-start);
        display: inline-block;
        padding: 0 30px;
        width: max-content;
        position: relative;

        ul {
          transition: all 0.2s ease;

          width: 100%;

          opacity: 0;
          pointer-events: none;

          position: absolute;
          left: 0;
          background: rgba(0, 0, 0, 0);

          li {
            transition: all 0.2s ease;
            padding-top: 10px;
            padding-bottom: 10px;
            border-style: none;

            &:hover {
              background: var(--background);
              color: var(--secondary-color-light-end);
            }
          }
        }
      }
    }

    > ul > li:last-child {
      border-right: 2px solid var(--secondary-color-start);

    }

    li {
      cursor: pointer;
      transition: all 0.2s ease;

      color: var(--secondary-color-light-start);

      &:hover{
        color: var(--secondary-color-light-end);
      }
    }

    ul li:hover > ul,
    ul li ul:hover {
      opacity: 1;
      pointer-events: all;
      text-align: left;
      padding-top: 10px;
    }
  }
}

.dropdown {
  max-height: 300px;
  overflow-x: hidden;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 2.5px;
    background: var(--secondary-color-start);

    &:hover {
      background: var(--secondary-color-end);
    }
  }
}

a {
  text-decoration: none;
}
