
.button {
  margin-top: 10px;
  padding: 10px;

  cursor: pointer;

  background: var(--background);
  border: 2px solid;
  border-color: var(--secondary-color-start);

  &:hover {
    border-color: var(--secondary-color-end);
  }
}
